# Build
contract/eureka/build/*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Dependencies
target/
node_modules/

# Documentation
/docs/
tui-app/Gcode-Transmit/test.gcode
tui-app/Gcode-Transmit/test.stl
tui-app/Gcode-Transmit/Gcode-Send-PID.pid
# Environment
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Ignore sui-examples directory
sui-examples/
