# Build
contract/eureka/build/*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Dependencies
target/
node_modules/

# Documentation
/docs/

# Environment
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Ignore sui-examples directory
sui-examples/
